.WhatIsSection {
	flex: 1;
	background-color: var(--background-color--light);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.WhatIsSection .SectionTitle {
	margin-top: 20px;
	padding: 0;
}

.WhatIsSection__description-container {
	max-width: 600px;
}

.WhatIsSection__content {
	display: flex;
}

.WhatIsSection__content__logo {
	min-width: 90px;
	max-width: 130px;
	min-height: 90px;
	background-image: url('../../images/logo-in-rounded-box.svg');
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 50px;
	flex: 1;
}

.WhatIsSection__content__text {
	min-width: 300px;
	flex: 1;
}

/* Selling points */
.WhatIsSection__selling-points {
	min-height: 300px;
	display: flex;
	margin: 60px 10vh 100px 10vh;
}

.SellingPoint {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	padding: 30px;
	background-color: var(--white);
	border-radius: 20px;
	max-width: 170px;
	min-width: 140px;
	margin: 0 20px 0 20px;
}

.SellingPoint__image {
	width: 90px;
	height: 90px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-bottom: 20px;
}

.SellingPoint__title {
	font-weight: 700;
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.SellingPoint__desc {
	font-size: 0.9rem;
	color: var(--text-color--light);
}

@media all and (max-width: 800px) {
	.WhatIsSection {
		padding: 0 40px 0 40px;
	}

	.WhatIsSection__content__logo {
		display: none;
	}

	.WhatIsSection__selling-points {
		display: flex;
		flex-direction: column;
		margin-right: 5vw;
		margin-left: 5vw;
	}

	.SellingPoint {
		margin-bottom: 40px;
		max-width: 230px;
	}
}