.SectionTitle {
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}

.SectionTitle__content {
	max-width: 1000px;
	flex: 1;
}

.SectionTitle label {
	font-weight: 600;
	color: var(--grey--light);
}

.SectionTitle h1 {
	font-weight: 600;
	font-size: 3rem;
	margin: 0;
}

.SectionTitle.light label {
	color: var(--text-color--lighter);
}

.SectionTitle.light h1 {
	color: var(--white);
}