.CompetitionSection {
	background-color: var(--background-color--darker);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 100px;

	.SectionTitle {
		padding: 0 20vw 0px 20vw;
	}
}

.CompetitionSection__table-wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	padding: 0 10vw 0px 10vw;
	margin-top: 50px;
}

.CompetitionSection__table {
	flex: 1;
	max-width: 1200px;

	background-color: var(--background-color--dark);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	color: var(--text-color--lightest);
	text-align: center;
	border-collapse: collapse;
	border: 2px solid #4D516A;
	font-size: 0.9rem;
	width: 100%;
	display: flex;
	position: relative;

	.column {
		flex: 1;
		min-width: 120px;

		/* Alephium selection */

		&.highlighted {
			position: relative;
			z-index: 1;

			&::before {
				position: absolute;
				top: -10px; bottom: -10px; left: 0; right: 0;
				content: '';
				background-color: var(--alephium-red);
				box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
				border-bottom: 1px solid var(--alephium-red);
				border-radius: 15px;
				color: var(--white);
				z-index: -1;
			}

			.cell {
				border-bottom: 1px solid transparent;
				color: var(--white);
			}
		}
	}

	.header {
		color: var(--white);
		font-weight: 600;
	}

	.cell {
		padding: 0 20px 0 20px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:not(:last-child) {
			border-bottom: 1px solid rgba(white, 0.05);
		}
	}
}

.CompetitionSection__table__fixed, .CompetitionSection__table__scrollable {
	display: flex;
	flex: 2;
}

.CompetitionSection__table__scrollable {
	overflow-x: scroll;
	flex: 3;
}


.CompetitionSection__table__logo {
	height: 20px;
}

@media all and (max-width: 800px) {
	.CompetitionSection {
		padding-right: 0;
		padding-left: 0;

		.SectionTitle {
			padding: 0 10vw 0px 10vw;
		}
	}

	.CompetitionSection__table-wrapper {
		padding: 0;
		align-self: auto;
	}

	.CompetitionSection__table__logo {
		height: 15px;
	}
	
	.CompetitionSection__table {
		border-radius: 0;
		box-shadow: inset -35px 0 50px -25px rgba(0, 0, 0, 0.8);
		border-right: none;
		border-left: none;
		font-size: 0.8rem;

		.cell {
			padding: 5px;
			height: 40px;
		}
	}
}