.TechnologyHeader {
	background-color: var(--background-color--darker);
	height: 100px;
	padding: 80px 0 60px 0;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.TechnologyHeader__title__container {
	width: 50vw;
	text-align: center;
	display: flex;
	position: relative;
}

.TechnologyHeader__title__mask {
	flex: 1;
	background: url('../../images/technology-outlines.svg') no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.TechnologyHeader__title__background__wrapper {
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	margin: 10px;
	overflow: hidden;
}

.TechnologyHeader__title__background {
	right: 0; left: 0;
	margin-top: -100%;
	position: absolute;
	height: 120vh;
	width: 100%;
	background: url('../../images/city-night.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 0;
}

@media all and (max-width: 800px) {
	.TechnologyHeader__title__container {
		width: 100vw;
	}
}