.FloatingMenu {
	position: fixed;
	left: 0;
	top: 110px;
	/* display: flex; */
	flex-direction: column;
	font-weight: 600;
	font-size: 1rem;
	padding: 0 0 0 10px;
	margin: 0 0 0 40px;
	z-index: 1000;



	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	li {
		color: var(--text-color--light);
		transition: ease-in-out 0.2s;
		margin-bottom: 10px;

		&:hover {
			color: #FF4957;
			cursor: pointer;
		}

		&.active {
			color: #FF4957;
			font-weight: 800;
		}
	}
}

.FloatingMenu__ActiveFragment__container {
	position: absolute;
	left: -16px;
	top: 2px;
}

.FloatingMenu__ActiveFragment {
	height: 10px;
	width: 9px;
	background-color: #FF4957;
	transform: skewY(-10deg);
	border-radius: 3px;
}

@media all and (max-width: 800px) {
	.FloatingMenu {
		visibility: hidden;
	}
}