.Header {
	display: flex;
	align-items: flex-start;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	background-color: var(--white);
	overflow: hidden;
}

.Header__logo {
	width: 130px;
	height: 40px;
	margin-top: 10px;
	margin-left: 50px;
}
