body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #20203E;
}

@font-face {
  font-family: 'Poppins';
	src: local('Poppins Semibold'), url('./fonts/Poppins-SemiBold.otf') format('otf');
	font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
	src: local('Poppins Bold'), url('./fonts/Poppins-Bold.otf') format('otf');
	font-weight: bold;
}