@import-normalize;

:root {
	/* Colors */
	--alephium-red: #FF3646;
	--alephium-red--light: rgba(255, 54, 71, 0.1);

	--text-color: #171C3D;
	--text-color--light: #6D7083;
	--text-color--lighter: #9EA0B0;
	--text-color--lightest: #CECEDC;

	--background-color--light: #F5F6F9;
	--background-color--dark: #2A2C3A;
	--background-color--darker: #191A22;

	--border-color--dark: #515466;

	--grey--dark: #2A2C3A;
	--grey--light: rgba(23, 28, 61, 0.38);
	--grey: #41445B;
	--white: #ffffff;

	--gradient1: #FF8746;
	--gradient2: #C400A1;

	font-size: 13px;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-color);
}

@font-face {
  font-family: 'Poppins';
	src: local('Poppins Medium'), url('./fonts/Poppins-Medium.otf') format('opentype');
	font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
	src: local('Poppins Semibold'), url('./fonts/Poppins-SemiBold.otf') format('opentype');
	font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
	src: local('Poppins Bold'), url('./fonts/Poppins-Bold.otf') format('opentype');
	font-weight: bold;
}

button {
	font-family: 'Poppins';
}

button:hover {
	cursor: pointer;
}

/* paragraphs */
p {
	line-height: 1.7rem;
	text-align: justify;
}

p:first-child {
	margin-top: 0;
}

mark {
	color: var(--alephium-red);
	background-color: var(--alephium-red--light);
	border-radius: 5px;
	padding: 0 5px 0 5px;
	font-weight: 600;
}

p a, span a {
	color: inherit;
	text-decoration: none;
	background-image: linear-gradient(to left, #FF8746 0%, #C400A1 100%);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	transition: all .2s;
	border-radius: 2px;
}

p a:hover, span a:hover {
	cursor: pointer;
	background-size: 100% 100%;
	color: var(--white);
}